
body {
    background-color: #f7f7f7;
    color: #555;
    font-family: "Arial", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.header {}

.header h2 {

    background-color: #f8b322;

}

.intro {
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}



.fieldsetBox {
    border-color: f7f7f;
    display: block;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2x 10px 10px 10px;
    border-style: dotted;
    border-top-width: 100%;
    background-color: white;
}

.headerErsteEbene {

    font-weight: bold;
}



table {
    width: 100%;
}


/*Überschriftenzeile für Radiobuttongroup richtig positionieren*/
.thKategorie {
    text-align: start;
    padding-bottom: 6;
}

.thWertung {
    text-align: center;
}

.labelTextfeld {
    display: block;
    text-decoration: underline;
    margin-top: 50;
}

textarea {
    width: 100%;
}

button {
    padding: 9px 15px;
    font-size: 14px;
    cursor: pointer;
    color: #d85d00;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffed64), color-stop(100%, #ffab23));
    border-radius: .5em;
    border-color: #d85d00;
    text-shadow: 1px 1px 0px #ffed66;
    border: 1px solid #ffaa22 !important;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.warnung {
    background-color: #FF4E5D;
    color: white;
    text-align: center;
}
